pre, code {
    font-size: 1em;
    font-family:Consolas, Inconsolata, Courier, monospace;
}

code {
    white-space:nowrap;
    border:1px solid #EAEAEA;
    background-color:#F8F8F8;
    border-radius:3px;
    display:inline;
    margin:0 .15em;
    padding:0 .3em;
}

pre {
    font-size:1em;
    line-height:1.2em;
    overflow:auto;
}

pre code {
    white-space:pre;
    border-radius:3px;
    border:1px solid #CCC;
    padding:.5em .7em;
    display: block !important;
}

p, blockquote, ul, ol, dl, li, table, pre {
    margin:1em 0;
}

dl {
    padding:0;
}

dl dt {
    font-size:1em;
    font-weight:700;
    font-style:italic;
    margin:1em 0 .4em;
    padding:0;
}

dl dd {
    margin:0 0 1em;
    padding:0 1em;
}

blockquote {
    border-left:4px solid #DDD;
    color:#777;
    padding:0 1em;
}

blockquote, q {
    quotes:none;
}

blockquote::before,  blockquote::after,  q::before,  q::after {
    content:none;
}

a:link, a:visited {
    color:#33e;
    text-decoration:none;
}

a:hover {
    color:#00f;
    text-shadow:1px 1px 2px #ccf;
    text-decoration:underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:700;
    color:#000;
    cursor:text;
    position:relative;
    margin:1.3em 0 1em;
}

h1 {
    font-size:2.3em;
}

h2 {
    font-size:1.7em;
    border-bottom:1px solid #CCC;
}

h3 {
    font-size:1.5em;
}

h4 {
    font-size:1.2em;
}

h5 {
    font-size:1em;
}

h6 {
    font-size:1em;
    color:#777;
}

.shadow {
    box-shadow:0 5px 15px #000;
}

table {
    border-collapse:collapse;
    border-spacing:0;
    font-size:100%;
    font:inherit;
    border:0;
    padding:0;
}

tbody {
    border:0;
    margin:0;
    padding:0;
}

table tr {
    border:0;
    border-top:1px solid #CCC;
    background-color:#FFF;
    margin:0;
    padding:0;
}

table tr:nth-child(2n) {
    background-color:#F8F8F8;
}

table tr th, table tr td {
    border:1px solid #CCC;
    text-align:left;
    margin:0;
    padding:.5em 1em;
}

table tr th {
    font-weight:700;
}

